 <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">First name</label>
    <input type="text" value="{{this.first_name}}" class="form-control" id="exampleInputEmail1" name="first_name">
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Last name</label>
    <input type="text" value="{{this.last_name}}" class="form-control" id="exampleInputEmail1" name="last_name">
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" value="{{this.email}}" class="form-control" id="exampleInputEmail1" name="email">
  </div>

<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Phone Number</label>
    <input type="text" value="{{this.phone}}" class="form-control" id="exampleInputEmail1" name="phone">
  </div>

    <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Comments</label>
    <textarea type="textarea" class="form-control" id="exampleInputEmail1" name="comment" style="height: 200px;">{{this.comment}}</textarea>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>