<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">edit</li>
  </ol>
</nav>

<form action="/edituser/{{user.id}}" method="POST">
  <div class="mb-3">
    <label class="form-label">First Name</label>
    <input type="text" value="{{user.first_name}}" class="form-control" name="first_name">
  </div>

  <div class="mb-3">
    <label class="form-label">Last Name</label>
    <input type="text" value="{{user.last_name}}" class="form-control" name="last_name">
  </div>

  <div class="mb-3">
    <label class="form-label">Email</label>
    <input type="email" value="{{user.email}}" class="form-control" name="email">
  </div>

  <div class="mb-3">
    <label class="form-label">Phone Number</label>
    <input type="text" value="{{user.phone}}" class="form-control" name="phone">
  </div>

  <!-- Status Dropdown -->
  <div class="mb-3">
    <label class="form-label">Status</label>
    <select class="form-control" name="status">
      <option value="pending" {{#if (eq user.status 'pending')}}selected{{/if}}>Pending</option>
      <option value="approved" {{#if (eq user.status 'approved')}}selected{{/if}}>Approved</option>
      <option value="rejected" {{#if (eq user.status 'rejected')}}selected{{/if}}>Rejected</option>
    </select>
  </div>

  <div class="mb-3">
    <label class="form-label">Comments</label>
    <textarea class="form-control" name="comment" style="height: 200px;">{{user.comment}}</textarea>
  </div>

  <button type="submit" class="btn btn-primary">Update User</button>
</form>